# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cqdjokflpvnfptmqgwoj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_zz-MJnXHYqwm4tJ25OwApQ_lEy3FcK_

# Database URL
DATABASE_URL=postgresql://postgres:Guto0307!@@db.cqdjokflpvnfptmqgwoj.supabase.co:5432/postgres

# Supabase Secret Key (para operações server-side)
SUPABASE_SERVICE_ROLE_KEY=sb_secret_0fe_scju5J7o7BuiDtdTJg_PTrJuXER
